# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
devel/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.sqlite3

# Environment
.env

# Virtual environment
venv/
ENV/
env/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
